<!DOCTYPE html>
<html xmlns:th="http:/www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Login - Company ABC</title>
<link rel="stylesheet" href="css/bootstrap/bootstrap.min.css">
<link rel="stylesheet" href="css/loginPage.css">

</head>
<body>
 <div class="container">
  <div class="row">
            <div class="col-lg-3 col-md-2"></div>
            <div class="col-lg-6 col-md-8 login-box front">
                <div class="login-key logo-position">
					<img src="img/dine.png" class="rounded mx-auto d-block front logo-icon" alt="">
					<span class="eclipse mx-auto d-block back logo-position"></span>
                </div>
                <div class="col-lg-12 login-title">
                    LOGIN
                </div>

                <div class="col-lg-12 login-form">
                    <div class="col-lg-12 login-form">
                        <form th:action="@{/login}" method="post">
						    <div class="form-outline mb-4">
						    	<label class="form-label" for="form2Example1">E-mail</label>
						    	<input type="username" name="username" id="form2Example1" class="form-control" placeholder="Enter Username"/>
						  	</div>
						    <div class="form-outline mb-4">
						    	<label class="form-label" for="form2Example2">Password</label>
							    <input type="password" id="form2Example2" class="form-control" name="password" placeholder="Enter Password"/>
						  	</div>
						  
						  <div class="mb-4">
						      <a href="#!" class="passwrd">Forgot password?</a>
						  </div>
						  <div class="d-flex justify-content-center">
						  <button type="submit" class="btn btn-primary btn-block mb-4" value="Login">Sign in</button>
						  </div>
						</form>
                    </div>
                </div>
            </div>
            <div class = "tilted-rectangle back col-lg-6 col-md-8">
            </div>
 </div>
 </div>

<script src="js/jquery.min.js"></script>
</body>
</html>